.icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #807e7e;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.icon:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
